/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.local
.env.testing
.php_cs.cache
.phpunit.result.cache
.DS_Store
Thumbs.db
/.vagrant
.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/.idea
.swo
.swp
.swn
.sss
.sass-cache
.phpunit.xml
/.buildpath
/.project
/.settings
/.c9/
nbproject/
/.tmt/
/composer.lock
